* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    color: var(--light);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    --dark:#0E1218 ;
    --lightDark: #3a3e48;
    --light: #F1F1F1;
    --color: #196dd4;

    font-size: 62.5%;
}

body {
    height: 100vh;
    background-color: var(--dark);
}

.container {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

div {
    line-height: 4rem;
}

div  img {
    width: 2.5rem;
    margin-right: 1rem;
}

header {
    height: 10vh;
    width: 100vw;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.8rem;
}

header, div, main, footer,
#search, #profileInfo, #github-username, #card,
.container {
    display: flex;
    text-align: center;
    align-items: center;
}

#search {
    justify-content: center;
    line-height: 0;
}

input {
    border: none;
    border-bottom: .2rem solid var(--color);
    height: 4.5rem;
    width: 25rem;
    text-align: center;
    background-color: var(--lightDark);
    border-radius: .25rem;
    margin-right: 10px;
    font-size: 1.5rem;
}

input::placeholder {
    color: var(--light);
}

input:focus {
    filter: brightness(1.2);
    outline: none;
}

button {
    height: 4.5rem;
    width: 10rem;
    background-color: var(--color);
    font-size: 1.5rem;
    border: none;
    border-radius: .25rem;
}

.button-outlined {
    height: 4.7rem;
    background-color: transparent;
    color: var(--color);
    border: .2rem solid var(--color);
    font-size: 1.8rem;
    font-weight: 700;
}

main {
    height: 80vh;
    width: 100vw;
    justify-content: center;
}

#card {
    height: 90%;
    width: 25%;
    display: flex;
    flex-direction: column;
    border-radius: 0 1rem 1rem 1rem;
    align-items: center;
    justify-content: space-around;
    border: .3rem solid var(--color);
}

#devUser {
    color: var(--color);
    font-size: 3rem;
}

#userAvatar {
    width: 18rem;
    border-radius: 150rem;
}

#userName {
    font-size: 2.5rem;
    font-weight: 500;
}

#profileInfo {
    box-sizing: border-box;
    font-size: 1.7rem;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#profileInfo > div {
    display: flex;
    align-items: center;
}

#profileInfo #bio {
    padding: 0 3rem;
}

#userBio {
    font-size: 1.7rem;
    word-wrap: break-word;
}

#userFollows {
    display: flex;
    justify-content: space-between;
}

#repos:hover, #followers:hover, #following:hover {
    cursor: pointer;
    filter: brightness(1.6);
    border-bottom: .1rem solid var(--color);
}

#secondCard {
    height: 60%;
    width: 20%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0 1rem 1rem 1rem;
    align-items: center;
    border: .3rem solid var(--color);
    margin-left: 2rem;
}

#secondCard > div {
    width: 100%;
    color: var(--light);
    padding: 0 2rem;
    justify-content: space-between;
    background-color: var(--color);
    top: 0;
}

#secondCard #headerCard h2 {
    font-size: 1.8rem;
}

#secondCard #headerCard span {
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 45rem;
    list-style: none;
    font-size: 1.8rem;
    overflow: hidden;
    overflow-y: scroll;
    padding: 2rem 2rem;
}

ul::-webkit-scrollbar {
    display: none;
}

ul > li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

ul li > a {
    color: var(--light);
    cursor: pointer;
    display: flex;
    align-items: center;
} 

ul li a > img {
    width: 3rem;
    border-radius: 3rem;
}

footer {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    text-align: center;
}

footer p strong > a {
    text-decoration: none;
}

footer p strong > a {
    width: 1.8rem;
}

strong, a {
    color: var(--color);
}

strong:hover, a:hover, button:hover,
#devUser:hover, #repos:hover {
    cursor: pointer;
    filter: brightness(1.2);
}
